<div id="home" class="position-relative">
  <div class="overlay position-absolute"></div>
  <div class="container">
    @if(isLoadingMemberships){
    <app-home-skeleton [type]="'memberships'"></app-home-skeleton>
    }@else {
    @if (memberships.length>0) {
    <div class="row gy-4">
      @for (item of memberships; track $index) {
      <div class="col-lg-3 col-md-6">
        <app-membership-card [item]="item"></app-membership-card>
      </div>
      }
    </div>
    }@else {
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <div>
          <img src="assets/images/not-found/no-data.svg" alt="no-data">
        </div>
        <p class="fs-5-1 text-center">{{'home.noData'|translate}}</p>
      </div>
    </div>
    }
    }
  </div>
</div>