.dropdown {
  .nav-link {
    color: #818894;

    &:hover {
      background-color: #e8e8e8;
      color: var(--text-dark-color) !important;
      border-radius: 5px;
    }
  }

  .logout {
    color: #dc3545;
  }

  .dropdown-menu {
    right: 0 !important;
    left: inherit;
    min-width: 13rem;
  }
}
.profile-img,
.logo-img {
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--bg-white-color);
  border-radius: 50%;
  padding: 0.1rem;
  .overlay-img {
    visibility: hidden;
  }
  &:hover {
    .overlay-img {
      visibility: visible;
    }
  }
}
